$pr1: hsl(158, 36%, 37%);
$pr2: hsl(30, 38%, 92%);
$neutr1: hsl(212, 21%, 14%);
$neutr2: hsl(228, 12%, 48%);
$neutr3: hsl(0, 0%, 100%);
@font-face {
    font-family: Fraunces;
    src: url(Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}